<template lang="pug">
	v-app
		cmp-header
		cmp-drawer

		v-container
			v-layout(align-center)
				v-flex
					h1 Usuarios
					p Este es un simple ejemplo de un CRUD usando "Arlequin"
				v-flex(v-if="getToken === null")
					v-btn(color="success"
						@click="openLogin") Iniciar Sesión
			
			router-view

		cmp-notice-server(color="success"
			:message="successLogin.message"
			:dialog="successLogin.status"
			@closeDialog="closeSuccessLogin")

		cmp-modal-login(:modal="modal"
			@closeLogin="closeLogin"
			@successLogin="launchSuccessLogin")
		
</template>

<script>
import { mapGetters } from 'vuex'

import cmpHeader from '@Components/grid/header'
import cmpDrawer from '@Components/grid/drawer'

import cmpModalLogin from '@Views/login/login'
import cmpNoticeServer from '@Components/dialog/noticeServer'

export default {
	components: {
		cmpHeader,
		cmpDrawer,
		cmpModalLogin,
		cmpNoticeServer
	},

	data () {
		return {
			modal: false,
			successLogin: {
				status: false,
				message: ''
			},
		}
	},

	computed: {
		...mapGetters([
			'getToken'
		])
	},

	methods: {
		closeLogin (value) {
			if (value) {
				this.modal = false
			}
		},
		
		openLogin () {
			this.modal = true
		},

		closeSuccessLogin (value) {
			if (value)
				this.successLogin.status = false
		},

		launchSuccessLogin (value) {
			this.successLogin.message = value
			this.successLogin.status = true

			setTimeout(() => {
				this.successLogin.status = false
			}, 1500)
		}
	}
}
</script>
