<template lang="pug">
	v-container

		v-layout(justify-center
			class="mt-5")
			v-flex(xs10)
				v-img(:src="image.img"
				:alt="image.description")
		
		v-layout(justify-center
			class="mt-5")
			v-flex(xs10)
				p(class="error--text headline hs-text") No se encontró la página solicitada o petición requerida. Por favor solo accede a nuestras rutas validas
</template>

<script>
import IMG_Error404 from '@Assets/img/error404.png'

export default {
	data () {
		return {
			image: {
				img: IMG_Error404,
				description: 'Imagen del error 404'
			}
		}
	}	
}
</script>

<style lang="sass" scoped>
.hs-text
	text-align: center
</style>
