<template lang="pug">
	v-dialog(v-model="dialog"
			:width="width"
			persistent)
			v-card(:color="color")
				v-card-title(class="white--text subheading text-center"
					v-html="message")
				v-card-actions
					v-spacer
					v-btn(v-if="showCloseDialog"
						color="white"
						flat
						@click="closeDialog") Cerrar
</template>

<script>
export default {
	props: {
		width: {
			type: Number,
			default: 400
		},
		dialog: {
			type: Boolean,
			default: true
		},
		color: {
			type: String,
			default: 'primary'
		},
		message: {
			type: String,
			default: ''
		},
		showCloseDialog: {
			type: Boolean,
			default: true
		}
	},

	methods: {
		closeDialog () {
			this.$emit('closeDialog', true)
		}
	}
}
</script>

<style lang="sass" scoped>
.text-center
	display: flex
	justify-content: center
</style>
