<template lang="pug">
	v-navigation-drawer(app
		temporary 
		class="primary"
		v-model="showDrawer")
		v-container
			v-layout(justify-center)
					h4(class="white--text") Menu de la Web
		v-list
			v-list-tile(v-for="(item, index) in links"
				:key="index")
				v-list-tile-content
					v-btn(:href="links[index].link"
						class="font-weight-light white--text"
						block
						flat) {{links[index].alias}}
</template>

<script>
import headerDrawer from '@Mixins/grid/header-drawer'

export default {
	mixins: [headerDrawer],

	mounted () {
		this.$eventBus.$on('[Global-GridDrawer]:showDrawer', () => {
			this.showDrawer = !this.showDrawer
		})
	},

	beforeDestroy () {
		this.$eventBus.$off('[Global-GridDrawer]:showDrawer')
	},

	data () {
		return {
			showDrawer: null
		}
	},

	filters: {
		route (item) {
			return $PAGE.host + item
		}
	}
}
</script>

