<template lang="pug">
	footer.footer
		span.footer__author Creado por Joaquin Reyes Sánchez
		span.footer__date Fecha: {{getDate}}
</template>

<script>
export default {
	data () {
		return {
			date: '15 de Mayo'
		}
	},

	computed: {
		getDate () {
			const date = new Date();
			return `${date.getDate()} / ${date.getMonth()+1} / ${date.getFullYear()}`;
		}
	}
}
</script>


