<template lang="pug">
	v-content
		v-toolbar(app color="primary")
			v-toolbar-side-icon(@click="touchDrawer()" class="white")
			v-toolbar-title(class="white--text") Arlequin
			v-spacer
			v-toolbar-items(class="hidden-sm-and-down")
				v-btn(class="font-weight-light white--text"
					v-for="(item, index) in links"
					:key="index"
					:href="links[index].link"
					flat) {{links[index].alias}}	
			v-spacer
			v-layout(justify-center v-show="getToken !== null")
				v-flex(xs12)
					v-btn(small 
					color="accent"
					@click="logout()") {{`${getUser.name} ${getUser.surname} ${getUser.secondSurname}` | nameLogin}}
						v-icon(right dark) person_pin
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

// import hsMenuHeader from '@Components/menu/menuHeader'

import headerDrawer from '@Mixins/grid/header-drawer'

export default {
	components: {
		// hsMenuHeader
	},

	mixins: [headerDrawer],

	filters: {
		nameLogin (name) {
			let arrayName = name.split('')
			
			if (arrayName.length > 15) {
				const removeLetters = arrayName.length - 15

				for (let i = 0; i < removeLetters; i++)
					arrayName.pop()
				
				return arrayName.join('') + '...'
			}

			return name
		}
	},

	computed: {
		...mapGetters([
			'getUser',
			'getToken'
		])
	},

	methods : {

		...mapMutations({
			loginDestroyUser: 'destroyUser',
			loginDestroyToken: 'destroyToken'
		}),

		touchDrawer () {
			this.$eventBus.$emit('[Global-GridDrawer]:showDrawer')
		},

		logout () {
			this.loginDestroyUser()
			this.loginDestroyToken()

			// window.location = $PAGE.host+$PAGE.header.usuario // Recarga la página lo cual hace que renderice el servidor
			this.$router.push({name: 'NewUser'})
		}
	}
}
</script>

