<template lang="pug">
	v-dialog(v-model="modal"
		persistent
		:width="width")
		v-card
			v-card-title
				span(class="headline") Iniciar Sesión
			v-card-text
				v-container
					v-layout
						v-flex
							form(v-on:submit.prevent)
								v-flex(v-show="serverError.length ? true : false"
									class="error--text"
									xs12)
									b Servidor: 
									span {{serverError}}
								v-flex(xs12)
									v-text-field(:label="form.alias.label"
										v-model="form.alias.value"
										color="secondary"
										:error="form.alias.error !== null ? true : false"
										:error-messages="form.alias.error"
										:append-icon="form.alias.icon"
										:hint="form.alias.hint"
										:class="{'message-error': form.alias.error !== null ? true : false}")
			v-card-actions(class="align-center")
				v-btn(color="secondary" 
					small
					outline 
					@click="closeModal") Cerrar
				v-btn(color="warning" 
					small
					outline
					@click="clear()") Limpiar
				v-btn(color="info"
					:disabled="disabledSend"
					small
					@click="send()") Enviar

</template>

<script>
import { mapMutations } from 'vuex'

import { ButtonSend } from '@Tools/form/buttonSend'

import RuleAlias from '@Views/user/rules/alias.json'

import cmpForm from '@Components/form/form'

export default {
	components: {
		cmpForm
	},

	props: {
		modal: {
			type: Boolean,
			default: true
		},
		width: {
			type: Number,
			default: 400
		}
	},

	data () {
		return {
			disabledSend: true,
			serverError: '',
			form: {
				alias: {
					label: 'Alias',
					icon: 'supervised_user_circle',
					hint: 'Escribe tu alias ya registrado',
					value: '',
					error: null,
					rule: RuleAlias
				}
			}
		}
	},

	watch : {
		form : {
			handler (val, oldVal) {
				const activeSend = ButtonSend.activeSend(val)

				if (activeSend) this.disabledSend = false
				else this.disabledSend = true
			},
			deep: true
		}
	},

	methods: {

		...mapMutations({
			loginUser: 'setUser',
			loginToken: 'setToken'
		}),

		closeModal () {
			this.$emit('closeLogin', true)
		},

		clear () {
			this.form.alias.value = ''
			this.clearErrors()
		},

		clearErrors () {
			this.form.alias.error = null
		},

		showErrors (errors) {
			for (const field of Object.keys(this.form))
				this.form[field].error = errors[field]
		},

		async send () {
			this.clearErrors()

			this.disabledSend = true

			let validate = true

			const errors = ButtonSend.validate(this.form)

			for (const error of Object.keys(errors)) {
				if (errors[error] !== null) {
					validate = false
					break
				}
			}

			if (validate) {
				const data = {
					alias: this.form.alias.value
				}

				const server = await ButtonSend.sendFetchData(data, 'login', 'post')

				switch (server.res.status) {
					case 201:
						// GUARDAR EN VUEX
						this.loginUser(server.data.user)
						this.loginToken(server.data.token)

						this.clear()

						this.$emit('closeLogin', true)
						
						this.$emit('successLogin', `Bienvenido <b>&nbsp;${server.data.user.name}&nbsp;${server.data.user.surname}&nbsp;${server.data.user.second_surname}</b>`)

						// MOVER A LA RUTA DEL PERFIL CARGADO
						this.$router.push(
							{
								name: 'UpdateUser',
								params: {
									alias: server.data.user.alias
								}
							})
						break
					case 406:
						this.serverError = server.data.error
						break
					case 500:
						this.form.alias.error = server.data.error.alias;
						break
					default:
						this.serverError = 'No se pudo realizar la petición al servidor'
				}

			} else this.showErrors(errors)

			this.disabledSend = false
		}
	}

}
</script>

<style lang="sass" scoped>
	.align-center
		display: flex
		justify-content: center
</style>


