<template lang="pug">
	v-container

			v-layout(justify-center
				wrap)

				v-flex(xs12 md7)
					v-card(color="secondary")
						v-layout(wrap
							align-center)
							v-flex(xs12 sm6)
								v-img(:src="image.img"
								:alt="image.description"
								height="200px")
							v-flex(xs12 sm6)
								v-card-title(primary-title)
									h3(class="white--text") Framework Arlequin
								v-card-text
									p(class="white--text") Mi nombre es Joaquin Reyes Sánchez (Hakyn Seyer) y soy el creador de este mini framework denominado "Arlequin"; mismo que tiene la finalidad de realizar aplicaciones de tipo web usando el poder de las SPA y las MPA juntas.
									p(class="white--text") Este framework esta dirigido para aquellas personas que requieran construir webs semi-robustas, ya que cuenta con características para usar base de datos, sockets y el potencial de un buen framework javascript para servir los datos en el frontend.
				
				v-flex(xs12 md4
					:class="{'mt-3': $vuetify.breakpoint.smAndDown, 'ml-3': $vuetify.breakpoint.mdAndUp}")
					v-card(color="secondary")
						v-card-title(primary-title)
							h3(class="white--text") Tecnologías usadas
						v-card-text
							v-list(v-for="(item, index) in technologies"
							:key="index"
								class="secondary")
								v-list-tile-content
									v-list-tile-title(class="white--text") {{index}}
									v-list-tile-sub-title(class="grey--text text--lighten-1") {{item}}
								v-divider
</template>

<script>
import IMG_Presentation from '@Assets/img/hakynseyer.jpg'

export default {
	data () {
		return {
			image: {
				img: IMG_Presentation,
				description: 'Imagen de presentación del framework Arlequin'
			},
			technologies: {
				php: 'Backend del Framework',
				node: 'Administrador del flujo de información del Backend al Frontend (Durante el modo de desarrollo)',
				vue: 'Constructor de las vistas Frontend',
				webpack: 'Núcleo del Frontend',
				sass: 'Preprocesador Css',
				pug: 'Motor de plantillas para Vue',
				twig: 'Motor de plantillas para renderizar las páginas desde el Backend',
				env: 'Archivo de variables globales del sistema',
				vuetify: 'Framework progresivo de componentes para Vue',
				otros: 'HTML, CSS, JS, Sockets, Vue-Router, Vuex'
			}
		}
	}
}
</script>

