<template lang="pug">
	nav.menu
		a(
			class="menu__item"
			:href="item | route"
			v-for="(item, index) in items"
			:key="index") {{intems[index].name}}
</template>

<script>
export default {
	created () {
		this.items = $PAGE.view.pages
		console.log(this.items)
	},

	data () {
		return {
			items: null
		}
	},

	filters : {
		route: route => {
			return $PAGE.host + route;
		}
	}
}
</script>
