<template lang="pug">
	v-layout
		v-flex(xs12)
			v-card(color="secondary"
				class="px-2")
				v-card-title(class="subheading white--text") {{title}}
				v-divider(class="grey lighten-1")
				v-card-text(class="white")
					v-layout
					v-flex
						div(v-show="serverError.length" class="error--text")
							b Servidor: 
							span {{serverError}}		
					slot(name="inputs")
				v-card-actions
					slot(name)
					v-layout(justify-center)
						v-btn(color="white" 
							small
							outline
							@click="clear()") Limpiar
						v-btn(color="info"
							:disabled="disabledSend"
							small
							@click="send()") Enviar
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: () => {
				return "Sin Titulo"
			}
		},
		disabledSend: {
			type: Boolean,
			default: () => {
				return true
			}
		},
		serverError: {
			type: String,
			default: ''
		}
	},

	methods: {
		clear () {
			this.$emit('clearButton', true)
		},
		
		send () {
			this.$emit('sendButton', true)
		}
	}
}
</script>
