// Creditos para https://github.com/dohomi

<template>
  <div>
    <v-text-field
      :append-icon="icon"
      single-line
      v-model="filename"
      :label="label"
      :required="required"
      @click.native="onFocus"
      :disabled="disabled"
      readonly
      ref="fileTextField"
			class="inputImage"
			:error="error !== null ? true : false"
			:error-messages="error"
			:class="{'message-error': error !== null ? true : false}"
    ></v-text-field>
    <input
      type="file"
      :accept="accept"
      :multiple="false"
      :disabled="disabled"
      ref="fileInput"
      @change="onFileChange"
    >
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: [Array, String]
    },
    accept: {
      type: String,
      default: "*"
    },
    label: {
      type: String,
      default: "Please choose..."
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean, // Esta funcionalidad no servirá para multiples archivos
      default: false
    },
    icon: {
      type: String,
      default: "attach_file"
		},
		error: {
			type: String,
			default: null
		}
	},
	beforeDestroy () {
		this.$eventBus.$off(`[Global-FormInputFile]:reset_${this.label}`)
	},
  data() {
    return {
      filename: ""
    };
  },
  watch: {
    value(v) {
      this.filename = v;
    }
  },
  mounted() {
		this.filename = this.value;
		
		this.$eventBus.$on(`[Global-FormInputFile]:reset_${this.label}`, () => {
			this.filename = ""
			this.$refs.fileInput.value = ""
		})
  },

  methods: {
    getFormData(files) {
      const data = new FormData();
      [...files].forEach(file => {
        data.append("image", file, file.name); // currently only one file at a time
      });
      return data;
    },
    onFocus() {
      if (!this.disabled) {
        // debugger;
        this.$refs.fileInput.click();
      }
    },
    onFileChange($event) {
      const files = $event.target.files || $event.dataTransfer.files;
			const form = this.getFormData(files);
      if (files) {
        if (files.length > 0) {
          this.filename = [...files].map(file => file.name).join(", ");
        } else {
          this.filename = null;
        }
      } else {
        this.filename = $event.target.value.split("\\").pop();
			}
			
      this.$emit("input", this.filename);
      this.$emit("formData", form);
      this.$emit("rawData", files[0]);
    }
  }
};
</script>

<style lang="sass">
	@import "@Assets/styles/sass/ini.sass"
	
	input[type="file"]
		position: absolute
		left: -99999px

	.message-error
		.v-messages__wrapper
		color: map-get($color, error) !important
		font-weight: bold

</style>
