<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{page.view.title}}</title>
	<!-- <link rel='shortcut icon' href=''> -->
	<link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
	<main id="app"></main>
	<script type="text/javascript">
		const $PAGE = JSON.parse('{{ page | json_encode | raw }}')
	</script>
</body>
</html>
