<template lang="pug">
	div.card
		img(
			class="card__image"
			:src="image.img"
			:alt="image.description")
		
		.card__details
			p.card__details__text Mi nombre es Joaquin Reyes Sánchez y soy el creador de este mini framework el cual es capaz de usar el poder de las siguientes técnologias... Lo llamo "Framework Arlequin" en referencia a los multiples colores que posee, mismos que se reflejan en la multitud de tecnologias que he tenido que configurar para que funcionen en armonia absoluta.
		
			span.card__details__subtitle Tecnologías Usadas
		
			ul.card__details__list
				li(
					class="card__details__list__item"
					v-for="item in list"
					:key="item"
				) {{item}}
		
			p.card__details__text.card__details__text--end Muchas Gracias :)
			p.card__details__text.card__details__text--end [Hakyn Seyer (Mi alias)]
</template>

<script>
import imageHakynSeyer from '@Assets/img/hakynseyer.jpg';

export default {
	data () {
		return {
			image: {
				img: imageHakynSeyer,
				description: 'Foto de Joaquin Reyes Sanchez'
			},
			list: [
				'php',
				'node',
				'vue',
				'webpack',
				'sass-scss',
				'pug',
				'twig',
				'env',
				'html',
				'css',
				'js',
				'mariadb-mysql'
			]
		}
	}
}
</script>

