<template lang="pug">
	v-container

		cmp-notice-server(color="success"
			:message="dialog.message"
			:dialog="dialog.status"
			@closeDialog="closeDialog")

		v-layout
			v-flex(xs6)
				cmp-form(title="Añadir Nuevo Usuario"
					:disabledSend="disabledSend"
					:serverError="serverError"
					@clearButton="clear"
					@sendButton="send")
					template(v-slot:inputs)
						form(enctype="multipart/form-data")
							v-flex(xs12 v-for="(item, index) in form"
							:key="index")

								v-text-field(v-if="item.type === 'inputText'"
									v-model="item.value"
									:label="item.label"
									color="secondary"
									:error="item.error !== null ? true : false"
									:error-messages="item.error"
									:append-icon="item.icon"
									:hint="item.hint"
									:class="{'message-error': item.error !== null ? true : false}")

								cmp-input-one-file(v-if="item.type === 'inputOneFile'"
									accept="image/*"
									:icon="item.icon"
									:label="item.label"
									:error="item.error"
									@rawData="getImage")
			v-flex(xs6)
				cmpTable(title="Lista de Usuarios"
				:headers="table.headers"
				:desserts="table.desserts")
					template(#rowTable="{props}")
						td {{props.item.name}}
						td.text-xs-right {{props.item.calories}}
				
</template>

<script>
import { ButtonSend } from '@Tools/form/buttonSend'

import mixinFormControls from '@Mixins/form/form-controls'
import mixinFormImage from '@Mixins/form/form-image'

import RuleName from '@Views/user/rules/name.json'
import RuleSurname from '@Views/user/rules/surname.json'
import RuleSecondSurname from '@Views/user/rules/second_surname.json'
import RuleAlias from '@Views/user/rules/alias.json'
import RuleImage from '@Views/user/rules/image.json'

import cmpForm from '@Components/form/form'
import cmpInputOneFile from '@Components/form/inputOneFile'
import cmpNoticeServer from '@Components/dialog/noticeServer'
import cmpTable from '@Components/table/table'

export default {
	components: {
		cmpForm,
		cmpInputOneFile,
		cmpNoticeServer,
		cmpTable
	},

	mixins: [mixinFormControls, mixinFormImage],

	data () {
		return {
			form: {
				name: {
					type: 'inputText',
					label: 'Nombre',
					icon: 'face',
					hint: 'Usa tu nombre verdadero',
					value: '',
					error: null,
					rule: RuleName
				},
				surname: {
					type: 'inputText',
					label: 'Apellido Paterno',
					icon: 'person',
					hint: 'Añade tu apellido paterno',
					value: '',
					error: null,
					rule: RuleSurname
				},
				second_surname: {
					type: 'inputText',
					label: 'Apellido Materno',
					icon: 'perm_identity',
					hint: 'Añade tu apellido materno',
					value: '',
					error: null,
					rule: RuleSecondSurname
				},
				alias: {
					type: 'inputText',
					label: 'Alias',
					icon: 'supervised_user_circle',
					hint: 'Usa un alias que te represente',
					value: '',
					error: null,
					rule: RuleAlias
				},
				image: {
					type: 'inputOneFile',
					label: 'Imagen',
					icon: 'image',
					value: null,
					error: null,
					rule: RuleImage
				}
			},
			table: {
				headers: [
          {
            text: 'Nombre',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Apellido Paterno', value: 'surname' },
          { text: 'Alias', value: 'alias' },
        ],
        desserts: []
			}
		}
	},

	methods: {
		
		async send (value) {
			if (value) {
				this.clearErrors()

				let validate = true
				
				const errors = ButtonSend.validate(this.form)
				
				for (const field of Object.keys(errors)) {
					if (errors[field] !== null) {
						validate = false
						break
					}	
				}

				if (validate) {
					let data = null;
					let server = null;

					if (this.form.image.value === null) {
						data = {
							name: this.form.name.value,
							surname: this.form.surname.value,
							second_surname: this.form.second_surname.value,
							alias: this.form.alias.value
						}
						
						server = await ButtonSend.sendFetchData(data, 'usuario', 'post')
					} else {
						data = new FormData()
						data.append('name', this.form.name.value)
						data.append('surname', this.form.surname.value)
						data.append('second_surname', this.form.second_surname.value)
						data.append('alias', this.form.alias.value)
						data.append('image', this.form.image.value === null ? '' : this.form.image.value)

						server = await ButtonSend.sendFetchFormData(data, 'usuario', 'post')
					}
					
					if (server !== null) {
						switch (server.res.status) {
							case 204:
								this.dialog.message = `Usuario&nbsp;<b>${this.form.name.value} ${this.form.surname.value} ${this.form.second_surname.value}</b>&nbsp;Guardado`
								this.dialog.status = true
								
								setTimeout(() => {
									this.dialog.status = false	
								}, 4000)

								this.clear(true)
								break;
							case 406:
								this.serverError = server.data.error
								break
							case 500:
								for (const field of Object.keys(server.data.error)) {
									if (server.data.error[field] !== null)
										this.form[field].error = server.data.error[field]
								}
								break
							default:
								this.serverError = 'No se pudo realizar la petición al servidor'
								break
						}
					} else this.serverError = 'No se pudo realizar la petición al servidor'

				} else this.showErrors(errors)
			}
		}

	}

}
</script>

<style lang="sass">
@import "@Assets/styles/sass/ini.sass"

input[type="text"], .v-messages__wrapper
	color: map-get($color, secondary) !important

.message-error
	.v-messages__wrapper
		color: map-get($color, error) !important
		font-weight: bold
</style>
