<template lang="pug">
	v-container

		cmp-notice-server(color="success"
			:message="dialog.message"
			:dialog="dialog.status"
			@closeDialog="closeDialog")

		cmp-form(title="Editar Nombre Usuario"
			:disabledSend="disabledSend"
			:serverError="serverError"
			@clearButton="clear"
			@sendButton="send")
			template(v-slot:inputs)
				form
					v-flex(xs12
					v-for="(item, index) in form"
					:key="index")
						v-text-field(v-model="item.value"
							:label="item.label"
							color="secondary"
							:error="item.error !== null ? true : false"
							:error-messages="item.error"
							:append-icon="item.icon"
							:hint="item.hint"
							:class="{'message-error': item.error !== null ? true : false}")
		
</template>

<script>
import { ButtonSend } from '@Tools/form/buttonSend'

import mixinFormControls from '@Mixins/form/form-controls'
import mixinFormUpdate from '@Mixins/form/form-update'

import RuleName from '@Views/user/rules/name.json'
import RuleSurname from '@Views/user/rules/surname.json'
import RuleSecondSurname from '@Views/user/rules/second_surname.json'

import cmpForm from '@Components/form/form'
import cmpNoticeServer from '@Components/dialog/noticeServer'

import { mapGetters, mapMutations } from 'vuex'

export default {
	components: {
		cmpForm,
		cmpNoticeServer
	},

	mixins: [mixinFormControls, mixinFormUpdate],

	created () {
		this.updateOldReg()
	},

	data () {
		return {
			oldReg: {
				name: {
					value: ''
				},
				surname: {
					value: ''
				},
				second_surname: {
					value: ''
				}
			},
			form: {
				name: {
					type: 'inputText',
					label: 'Nombre',
					icon: 'face',
					hint: '',
					value: '',
					error: null,
					rule: RuleName
				},
				surname: {
					type: 'inputText',
					label: 'Apellido Paterno',
					icon: 'person',
					hint: '',
					value: '',
					error: null,
					rule: RuleSurname
				},
				second_surname: {
					type: 'inputText',
					label: 'Apellido Materno',
					icon: 'perm_identity',
					hint: '',
					value: '',
					error: null,
					rule: RuleSecondSurname
				}
			}
		}
	},

	computed: {
		...mapGetters([
			'getUser'
		])
	},

	methods: {

		...mapMutations({
			loginUpdateUserName: 'setUser',
			loginUpdateToken: 'setToken'
		}),

		async send (value) {
			if (value) {
				this.clearErrors()

				let validate = true

				const errors = ButtonSend.validate(this.form)

				for (const field of Object.keys(errors)) {
					if (errors[field] !== null) {
						validate = false
						break
					}
				}

				if (validate) {
					const newUser = {
						name: this.form.name.value,
						surname: this.form.surname.value,
						second_surname: this.form.second_surname.value
					}

					const server = await ButtonSend.sendFetchData(newUser, 'usuario/editar/nombre', 'put')

					switch (server.res.status) {
						case 201:
							this.dialog.message = `Usuario&nbsp;<b>${this.form.name.value} ${this.form.surname.value} ${this.form.second_surname.value}</b>&nbsp;Actualizado`
							this.dialog.status = true

							setTimeout(() => {
								this.dialog.status = false
							}, 4000)

							this.loginUpdateUserName(server.data.user)
							this.loginUpdateToken(server.data.token)

							this.updateOldReg()
							break
						case 406:
							this.serverError = server.data.error
							break
						case 500:
							if (Array.isArray(server.data.error)) {
								for (const field of Object.keys(server.data.error)) {
									if (server.data.error[field] !== null)
										this.form[field].error = server.data.error[field]
								}
							} else if (typeof server.data.error === 'string')
								this.serverError = server.data.error
							break
						default:
							this.serverError = 'No se pudo realizar la petición al servidor'
					}
				} else this.showErrors(errors)
			}
		}
	}
}
</script>

<style lang="sass" scoped>
@import "@Assets/styles/sass/ini.sass"

input[type="text"], .v-messages__wrapper
	color: map-get($color, secondary) !important

.message-error
	.v-messages__wrapper
		color: map-get($color, error) !important
		font-weight: bold
</style>
