<template lang="pug">
	v-container

		cmp-notice-server(color="success"
			:message="dialog.message"
			:dialog="dialog.status"
			@closeDialog="closeDialog")

		cmp-form(title="Editar Imagen Usuario"
			:disabledSend="disabledSend"
			:serverError="serverError"
			@clearButton="clear"
			@sendButton="send")
			template(v-slot:inputs)
				form(enctype="multipart/form-data")
					v-flex(xs12
						v-for="(item, index) in form"
						:key="index")
						cmp-input-one-file(accept="image/*"
							:icon="item.icon"
							:label="item.label"
							:error="item.error"
							@rawData="getImage")
</template>

<script>
import { ButtonSend } from '@Tools/form/buttonSend'

import mixinFormControls from '@Mixins/form/form-controls'
import mixinFormImage from '@Mixins/form/form-image'

import RuleImage from '@Views/user/rules/image.json'

import cmpForm from '@Components/form/form'
import cmpInputOneFile from '@Components/form/inputOneFile'
import cmpNoticeServer from '@Components/dialog/noticeServer'

import { mapGetters, mapMutations } from 'vuex'

export default {
	components: {
		cmpForm,
		cmpNoticeServer,
		cmpInputOneFile
	},

	mixins: [mixinFormControls, mixinFormImage],

	created () {
		this.disabledSend = false
	},

	data () {
		return {
			form: {
				image: {
					type: 'inputOneFile',
					label: 'Imagen',
					icon: 'image',
					value: null,
					error: null,
					rule: RuleImage
				}
			}
		}
	},

	computed: {
		...mapGetters([
			'getUser'
		])
	},

	methods: {
		...mapMutations({
			loginUpdateUserImage: 'setUserImage'
		}),
		
		async send (value) {
			if (value) {
				this.clearErrors()

				let validate = true

				const errors = ButtonSend.validate(this.form)

				for (const field of Object.keys(errors)) {
					if (errors[field] !== null) {
						validate = false
						break
					}
				}

				if (validate) {
					const data = new FormData()
					data.append('image', this.form.image.value === null ? '' : this.form.image.value)
					data.append('image_store', this.getUser.image === null ? '' : this.getUser.image)

					const server = await ButtonSend.sendFetchFormData(data, 'usuario/editar/imagen', 'post')

					switch (server.res.status) {
						case 201:
							this.dialog.message = 'Se ha cambiado la imagen del perfil'
							this.dialog.status = true

							setTimeout(() => {
								this.dialog.status = false
							}, 4000)

							this.loginUpdateUserImage(server.data.image);

							this.clear(true)
							break
						case 406:
							this.serverError = server.data.error
							break
						case 500:
							this.showErrors(server.data.error)
							break
						default:
							this.serverError = 'No se pudo realizar la petición al servidor'
					}

				} else this.showErrors(errors)
			}
		}
	}
}
</script>
