<template lang="pug">
	v-container

		cmp-notice-server(color="success"
			:message="dialog.message"
			:dialog="dialog.status"
			:showCloseDialog="false")

		cmp-form(title="Editar Alias Usuario"
			:disabledSend="disabledSend"
			:serverError="serverError"
			@clearButton="clear"
			@sendButton="send")
			template(v-slot:inputs)
				form
					v-flex(xs12
						v-for="(item, index) in form"
						:key="index")
						v-text-field(v-model="item.value"
							:label="item.label"
							color="secondary"
							:error="item.error !== null ? true : false"
							:error-messages="item.error"
							:append-icon="item.icon"
							:hint="item.hint"
							:class="{'message-error': item.error !== null ? true : false}")
</template>

<script>

import { ButtonSend } from '@Tools/form/buttonSend'

import mixinFormControls from '@Mixins/form/form-controls'
import mixinFormUpdate from '@Mixins/form/form-update'

import RuleAlias from '@Views/user/rules/alias.json'

import cmpForm from '@Components/form/form'
import cmpNoticeServer from '@Components/dialog/noticeServer'

import { mapGetters, mapMutations } from 'vuex'

export default {
	components: {
		cmpForm,
		cmpNoticeServer
	},

	mixins: [mixinFormControls, mixinFormUpdate],

	created () {
		this.updateOldReg()
	},

	data () {
		return {
			oldReg: {
				alias: {
					value: ''
				}
			},
			form: {
				alias: {
					type: 'inputText',
					label: 'Alias',
					icon: 'supervised_user_circle',
					hint: '',
					value: '',
					error: null,
					rule: RuleAlias
				}
			}
		}
	},

	computed: {
		...mapGetters([
			'getUser'
		])
	},

	methods: {
		...mapMutations({
			loginUpdateUser: 'setUser',
			loginUpdateToken: 'setToken'
		}),

		async send (value) {
			if (value) {
				this.clearErrors()

				let validate = true

				const errors = ButtonSend.validate(this.form)

				for (const field of Object.keys(errors)) {
					if (errors[field] !== null) {
						validate = false
						break
					}
				}

				if (validate) {
					const newAlias = {
						alias: this.form.alias.value
					}

					const server = await ButtonSend.sendFetchData(newAlias, 'usuario/editar/alias', 'put')

					switch (server.res.status) {
						case 201:
							this.dialog.message = `Alias&nbsp;<b>${this.form.alias.value}</b>&nbsp;Actualizado`
							this.dialog.status = true

							setTimeout(() => {
								this.dialog.status = false

								this.$eventBus.$emit('[User-gp-updateUser]:resetButtonsEdit')

								this.$router.push({
									name: 'UpdateUser',
									params: {
										alias: server.data.user.alias
									}
								})
							}, 2500)

							this.loginUpdateUser(server.data.user)
							this.loginUpdateToken(server.data.token)

							this.updateOldReg()
							break
						case 406:
							this.serverError = server.data.error
							break
						case 500:
							if (Array.isArray(server.data.error))
								this.showErrors(server.data.error)
							else if (typeof server.data.error === 'string')
								this.serverError = server.data.error
							break
						default:
							this.serverError = 'No se pudo realizar la petición al servidor'
					}
				} else this.showErrors(errors)
			}
		}
	}

}
</script>

<style lang="sass" scoped>
@import "@Assets/styles/sass/ini.sass"

input[type="text"], .v-messages__wrapper
	color: map-get($color, secondary) !important

.message-error
	.v-messages__wrapper
		color: map-get($color, error) !important
		font-weight: bold
</style>

