<template lang="pug">
	v-container

		v-card(color="purple" class="white--text")
			v-layout(row)
				v-flex(xs6)
					v-card-title
						v-layout(wrap)
							v-flex(xs12)
								.headline {{getUser.name + ' ' + getUser.surname + ' ' +getUser.second_surname}}
							v-flex(xs12)
								span {{'[' + getUser.alias + ']'}}
				v-flex(xs6 
					class="pa-3")
					v-img(:src="userImage"
					:alt="`Imagen de perfil del usuario ${getUser.alias}`"
					height="125px"
					contain)
			v-divider(light)
			v-card-actions
				v-layout
					v-flex(class="actions-center")
						v-btn(:outline="!editName"
							small
							color="warning"
							class="white--text"
							@click="updateName()") Cambiar Nombre
						v-btn(:outline="!editAlias"
							small
							color="warning"
							class="white--text"
							@click="updateAlias()") Cambiar Alias
						v-btn(:outline="!editImage"
							small
							color="warning"
							class="white--text"
							@click="updateImage()") Cambiar Imagen

		router-view
</template>

<script>
import { mapGetters } from 'vuex'

import IMG_Error404 from '@Assets/img/error404.png'

export default {

	mounted () {
		this.$eventBus.$on('[User-gp-updateUser]:resetButtonsEdit', () => {
			this.editName = false
			this.editAlias = false
			this.editImage = false
		})
	},

	beforeDestroy () {
		this.$eventBus.$off('[User-gp-updateUser]:resetButtonsEdit')
	},

	data () {
		return {
			editName: false,
			editAlias: false,
			editImage: false
		}
	},

	computed: {
		...mapGetters([
			'getUser'
		]),

		userImage () {
			if (this.getUser.image !== null)
				return `${$PAGE.host}app/store/${this.getUser.image}`
			else return IMG_Error404
		}
	},

	methods: {
		clearButtons () {
			this.editName = false
			this.editAlias = false
			this.editImage = false
		},

		updateName () {
			this.clearButtons()

			this.editName = true

			this.$router.push({name: 'UpdateUserName'})
		},

		updateAlias () {
			this.clearButtons()
			
			this.editAlias = true

			this.$router.push({name: 'UpdateUserAlias'})
		},

		updateImage () {
			this.clearButtons()
			
			this.editImage = true

			this.$router.push({name: 'UpdateUserImage'})
		}
	}
}

</script>

<style lang="sass" scoped>
	.actions-center
		display: flex
		justify-content: center
</style>

