<template lang="pug">
	v-app
		cmp-header
		cmp-drawer
		
		cmp-presentation
</template>

<script>
import cmpHeader from '@Components/grid/header'
import cmpDrawer from '@Components/grid/drawer'

import cmpPresentation from './components/cards/presentation'

export default {
	components: {
		cmpHeader,
		cmpDrawer,
		cmpPresentation
	}
}
</script>
