<template lang="pug">
	v-container
		v-layout(wrap)
			v-flex(xs12 mb-2)
				h2 {{title}}
			v-flex(xs12)
				v-data-table(:headers="headers"
					:items="desserts"
					class="elevation-1")
					template(#items="props")
						slot(name="rowTable" 
							v-bind:props="props")
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			default: 'Titulo de la tabla'
		},
		headers: {
			type: Array,
			default: []
		},
		desserts: {
			type: Array,
			default: []
		}
	}
}
</script>
