<template lang="pug">
	v-app
		cmp-header
		cmp-drawer

		cmp-error
</template>

<script>
import cmpHeader from '@Components/grid/header'
import cmpDrawer from '@Components/grid/drawer'

import cmpError from './components/content/error'

export default {
	components: {
		cmpHeader,
		cmpDrawer,
		cmpError
	}
}
</script>
